<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login Page</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
	rel="stylesheet">
</head>
<body style="background-color:#99ccff;">
<h1 style="font-family: 'JetBrains Mono', monospace;">Sorry You dont have access to edit/delete. 
	But try creating new product :) </h1>
</body>
</html>
