<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login Page</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
	rel="stylesheet">
</head>
<body style="background-color: #ffff99;">
	<div th:if="${param.error}" align="center">
		<h3 style="font-family: 'JetBrains Mono', monospace;">Invalid
			username and password.</h3>
	</div>
	<div th:if="${param.logout}" align="center">
		<h3 style="font-family: 'JetBrains Mono', monospace;">You have
			been logged out.</h3>
	</div>
	<form th:action="@{/login}" method="post">
		<div align="center">
	<div  align="center">
		<h3 style="font-family: 'JetBrains Mono', monospace;">kindly use user:admin and password:admin to check the admin functionality.</h3>
	</div>
			<input type="text" name="username"
				style="background-color: #99ccff; font-family: 'JetBrains Mono', monospace;"
				class="form-control" placeholder="UserName" />

		</div>
		<br> <br>

		<div align="center">

			<input type="password" name="password"
				style="background-color: #99ccff; font-family: 'JetBrains Mono', monospace;"
				class="form-control" placeholder="Password" />

		</div>
		<br> <br>
		<div align="center">
			<input type="submit" value="Sign In"
				style="background-color: #99ccff; font-family: 'JetBrains Mono', monospace;" />
		</div>
		</div align="center">
		<h3 style="font-family: 'JetBrains Mono', monospace;">kindly use user:kri and password:sai to check the user functionality.</h3>
	        </div>
	</form>
</body>
</html>
